<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="ro">
<head>
    <meta charset="UTF-8">
    <title>Proiect Java</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css"  th:href="@{/css/detaliiLucrare.css}" />

</head>
<body>
<div class="container">
    <h3>Detalii Lucrare</h3>

    <h3>Titlu Lucrare</h3>
    <h3>Autor</h3>
    <h3>Status</h3>
    <h3>PDF Viewer - de implementat</h3>
    <ul class="list-unstyled">
        <li class="media">
            <img src="https://images.pexels.com/photos/617278/pexels-photo-617278.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" class="mr-3" alt="imagine1" width="150px" >
            <div class="media-body">
                <h5 class="mt-0 mb-1">Titlu comentariu 1</h5>
                Comentariu 1
            </div>
        </li>
        <li class="media my-4">
            <img src="https://images.pexels.com/photos/617278/pexels-photo-617278.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" class="mr-3" alt="imagine1" width="150px" >
            <div class="media-body">
                <h5 class="mt-0 mb-1">Titlu comentariu 2</h5>
                Comentariu 2
            </div>
        </li>
        <li class="media">
            <img src="https://images.pexels.com/photos/617278/pexels-photo-617278.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" class="mr-3" alt="imagine1" width="150px" >
            <div class="media-body">
                <h5 class="mt-0 mb-1">Titlu comentariu 3</h5>
                Comentariu 3
            </div>
        </li>
    </ul>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary">
        Fa ceva
    </button>

</div>



<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="js/home.js"></script>
</body>
</html>