<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="ro">
<head>
    <meta charset="UTF-8">
    <title>Proiect Java</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css"  th:href="@{/css/home.css}" />

</head>
<body>
<div class="container">
   <h1>Home</h1>

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addNewUser">
        Add a new user
    </button>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editMyProfile">
        Edit my profile
    </button>

    <!-- Add a new user -->
    <div class="modal fade" id="addNewUser" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="addNewUserLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addNewUserLabel">Add a new user</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="firstName">First Name</label>
                        <input type="text" class="form-control" id="firstName">
                    </div>
                    <div class="form-group">
                        <label for="lastName">Last Name</label>
                        <input type="text" class="form-control" id="lastName">
                    </div>
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" class="form-control" id="username">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1">
                    </div>
                    <div class="form-group">
                        <label for="role">Role</label>
                        <select class="form-control" id="role">
                            <option>Admin</option>
                            <option>Student</option>
                            <option>Alt rol</option>
                        </select>
                    </div>
                    <br/>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary save-user">Save user</button>
                </div>
            </div>
        </div>
    </div>

<!--    Edit my profile -->
    <div class="modal fade" id="editMyProfile" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="editMyProfileLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editMyProfileLabel">Edit my profile</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                   Edit my profile
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary save-profile">Save</button>
                </div>
            </div>
        </div>
    </div>


<!--    Lista de lucrari -->

    <table class="table table-dark">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Titlu lucrare</th>
            <th scope="col">Autor</th>
            <th scope="col">Status</th>
            <th scope="col">Actiuni</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Lucrare 1</td>
            <td>Titlu 1</td>
            <td>Status 1</td>
            <td>
                <button type="button" class="btn btn-primary vezi-lucrarea">Vezi lucrarea</button>
                <button type="button" class="btn btn-primary descarca-pdf">Descarca PDF</button>
            </td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Lucrare 2</td>
            <td>Titlu 2</td>
            <td>Status 2</td>
            <td>
                <button type="button" class="btn btn-primary vezi-lucrarea">Vezi lucrarea</button>
                <button type="button" class="btn btn-primary descarca-pdf">Descarca PDF</button>
            </td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Lucrare 3</td>
            <td>Titlu 3</td>
            <td>Status 3</td>
            <td>
                <button type="button" class="btn btn-primary vezi-lucrarea">Vezi lucrarea</button>
                <button type="button" class="btn btn-primary descarca-pdf">Descarca PDF</button>
            </td>
        </tbody>
    </table>
</div>



<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="../js/home.js"></script>
</body>
</html>